@{
    ViewData["Title"] = "Home Page";
    ViewData["HeaderLarge"] = true;
}

<main class="main">

    <h2 class="page-title">Hello!</h2>

    <p>Use this area to provide additional information.</p>

</main>
