
$zilla: 'Zilla Slab', 'Times', 'Times New Roman', serif;
$fira: 'Fira Sans', 'Arial',  sans-serif;

$font-family-sans-serif: $fira;
$font-family-serif:      $zilla;
//$font-family-monospace:  ;

$headings-font-family: $font-family-serif;

